# Latex build files
*.aux
*.out
*.fls
*.log
*.blg
*.dvi
*.bbl
*.fdb_latexmk

# Python bytecode
*.pyc

# Test logs
*.dump

# web js libraries
cloudplatform/web_interface/src/bigbinf_web/static/components/*

