<div ng-controller='CjobQueue'>
	<h1>Jobs in Queue</h1>
	<table id='jobqueue' class='table table-striped table-bordered'>
		<thead>
			<tr>
				<th>Status</th>
				<th>ID</th>
				<th>Timestamp</th>
				<th>Results</th>
				<th></th>

			</tr>
		</thead>
		<tbody>
			<tr ng-repeat='job in queue.jobs'>
				<td>{{job.status}}</td>
				<td>{{job.name}}</td>
				<td>{{job.timestamp}}</td>
				<td>
					<a ng-if='job.status==="results ready"' href='/results?jobname={{job.name}}' class='pointer'>results</a>
				</td>

				<td>
					<a ng-if='job.status==="completed" || job.status==="results ready"' ng-click='deleteJob(job.name)'>remove</a>
				</td>

			</tr>
		</tbody>
	</table>

</div>
